.example-spacer {
    flex: 1 1 auto;
  }

.table-container {
  width: 100%;
  margin: 16px;
}
.table-actions {
  margin-bottom: 16px;
}

#table1 {
  width: 100%;
  margin-right: 16px;
  padding-right: 16px;
}