<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Housemanagement</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<form class="example-form" id="Customer">
  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput placeholder="UUID" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" value="">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Birthdate</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width" id="last">
    <mat-label>Gender</mat-label>
    <input matInput placeholder="Gender" value="">
  </mat-form-field>
</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" id="reading"> 
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dateofreading">
    <th mat-header-cell *matHeaderCellDef> date of reading </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfReading}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="kindofmeter">
    <th mat-header-cell *matHeaderCellDef> kind of meter </th>
    <td mat-cell *matCellDef="let element"> {{element.kindOfMeter}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="metercount">
    <th mat-header-cell *matHeaderCellDef> metercount </th>
    <td mat-cell *matCellDef="let element"> {{element.meterCount}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="meterid">
    <th mat-header-cell *matHeaderCellDef> meterid </th>
    <td mat-cell *matCellDef="let element"> {{element.meterId}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="substitute">
    <th mat-header-cell *matHeaderCellDef> substitute </th>
    <td mat-cell *matCellDef="let element"> {{element.substitute}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>