<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>house</mat-icon>
    </button>
    <span>Housemanagement</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openSettingDialog()">
      <mat-icon>settings</mat-icon>
    </button>
</mat-toolbar>

<br>
<div id="readingbuttons">
  <button mat-button color="accent" (click)="openDialog()">Create</button>
  <button mat-button color="accent">Import</button>
  <button mat-button color="accent" (click)="exportAsZip()">Export</button>
</div>
<br>
<div class="search-container">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Suche</mat-label>
    <input matInput >
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<br>
<div class="p-4" style="margin-left: 15px; margin-right: 15px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full" style="width: 10%;">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <!-- Date of Reading Column -->
    <ng-container matColumnDef="dateOfReading">
      <th mat-header-cell *matHeaderCellDef>Date of Reading</th>
      <td mat-cell *matCellDef="let element">{{ element.dateOfReading | date }}</td>
    </ng-container>

    <!-- Kind of Meter Column -->
    <ng-container matColumnDef="kindOfMeter">
      <th mat-header-cell *matHeaderCellDef>Kind of Meter</th>
      <td mat-cell *matCellDef="let element">{{ element.kindOfMeter }}</td>
    </ng-container>

    <!-- Meter Count Column -->
    <ng-container matColumnDef="meterCount">
      <th mat-header-cell *matHeaderCellDef>Meter Count</th>
      <td mat-cell *matCellDef="let element">{{ element.meterCount }}</td>
    </ng-container>

    <!-- Meter ID Column -->
    <ng-container matColumnDef="meterId">
      <th mat-header-cell *matHeaderCellDef>Meter ID</th>
      <td mat-cell *matCellDef="let element">{{ element.meterId }}</td>
    </ng-container>

    <!-- Substitute Column -->
    <ng-container matColumnDef="substitute">
      <th mat-header-cell *matHeaderCellDef>Substitute</th>
      <td mat-cell *matCellDef="let element">{{ element.substitute }}</td>
    </ng-container>

    <!-- Customer ID Column -->
    <ng-container matColumnDef="customer_id">
      <th mat-header-cell *matHeaderCellDef> Kunden-ID </th>
      <td mat-cell *matCellDef="let element"> {{element.customer.id}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Aktionen </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openUpdateDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteReading(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
