/* Sicherstellen, dass HTML und Body die volle Höhe des Viewports einnehmen */
html, body {
  height: 100%; /* Höhe auf den gesamten Viewport setzen */
  margin: 0; /* Entferne den Standardabstand des Browsers */
}

#module {
  display: flex; /* Flexbox aktivieren */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  height: 100%; /* Höhe auf den gesamten Viewport setzen */
  width: 100%; /* Breite auf den gesamten Viewport setzen */
  background-color: #f4f7f6; /* Hintergrundfarbe der Seite */
}

/* Container für das Login-Formular */
.login-container {
  width: 300px; /* Feste Breite für das Formular */
  padding: 20px; /* Innenabstand */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriere das Formular horizontal */
  justify-content: center; /* Zentriere das Formular vertikal */
}

/* Titel des Formulars */
.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

/* Material Input für das Passwortfeld */
.full-width {
  width: 100%;
}

/* Fehlermeldung im Formular */
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Der Login-Button */
.login-button {
  width: 100%;
  margin-top: 20px;
}