<h2 mat-dialog-title>Einstellungen</h2>
    <div mat-dialog-content>
      <label for="choice">Wollen Sie die Datenbank neu aufsetzen?</label>
      <br>
      <select id="choice" (change)="onChoiceChange($event)">
        <option value="no">Bitte wählen</option>
        <option value="yes">Ja</option>
        <option value="no">Nein</option>
      </select>
      <button mat-button [disabled]="!isYesSelected" (click)="onAction()">DB neu aufsetzen</button>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Schließen</button>
    </div>